interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/page/check-in/ABC123?first-name=George&last-name=Bush
  response:
    body:
      string: '{"code":404611301,"message":"We can''t find this reservation. Please
        double-check your information","messageKey":"ERROR__AIR_TRAVEL__RESERVATION_NOT_FOUND","header":null,"httpStatusCode":"NOT_FOUND","requestId":"no-exp-id:REDACTED:unknown","infoList":[]}'
    headers:
      Content-Type:
      - application/json
      X-API-Gateway:
      - w11pcacagw43.swacorp.com
      X-User-Experience-ID:
      - no-exp-id
    status:
      code: 404
      message: Not Found
version: 1
